@import url("./fontawesome.min.css");

@font-face {
	font-family: "LobsterTwo";
	src: url("../webfonts/LobsterTwo-Regular.ttf");
	font-weight: normal;
}

@font-face {
	font-family: "LobsterTwo";
	src: url("../webfonts/LobsterTwo-Italic.ttf");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "LobsterTwo";
	src: url("../webfonts/LobsterTwo-Bold.ttf");
	font-weight: bold;
}

@font-face {
	font-family: "LobsterTwo";
	src: url("../webfonts/LobsterTwo-BoldItalic.ttf");
	font-weight: bold;
	font-style: italic;
}

body {
	margin: 0;
	overflow: hidden;
	font-family: "LobsterTwo";
}

::selection {
	background: transparent;
}

img {
	max-width: 100%;
}

.d-flex {
	display: flex;
}

/**
* Main Window
*********************/
.main-window {
	background-image: linear-gradient(
		90deg,
		rgb(171 174 181 / 90%) 0%,
		rgb(162 165 172 / 90%) 100%
	);
	border-radius: 40px;
	width: 100%;
	height: 100vh;
	-webkit-app-region: drag;
	overflow: hidden;
	position: relative;
	padding: 30px;
	box-sizing: border-box;
}

.main-window * {
	-webkit-app-region: no-drag;
}

.main-window .close-app {
	position: absolute;
	top: 0;
	right: 0;
	margin: 25px 25px 0 0;
	font-size: 25px;
	color: #dddddd;
	cursor: pointer;
	transition: all 0.2s;
}

.main-window .close-app:hover {
	color: #fff;
}

.app-branding {
	font-size: 30px;
	font-weight: bolder;
	text-align: center;
	margin: 30px 0;
	color: white;
	-webkit-app-region: drag;
}
.app-branding img {
	width: 350px;
	filter: drop-shadow(2px 4px 6px black);
}

.recording-mode-selector-container {
	display: flex;
}

.recording-mode-select {
	flex: 1;
	margin: 10px 15px;
	text-align: center;
	color: rgb(255 255 255 / 95%);
	font-size: 20px;
	cursor: pointer;
	transition: all 0.5s;
}

.recording-mode-select.active {
	filter: drop-shadow(0px 15px 30px black);
	transform: scale(1.12);
}

.recording-mode-select:not(.active) {
	filter: contrast(0.7);
	transform: scale(0.9);
}

.recording-mode-select:not(.active):hover {
	filter: contrast(1);
	transform: scale(1);
}

.recording-mode-select img {
	border-radius: 15px;
	margin: 0 0 10px 0;
}

.select-box {
	flex: 1;
	background-color: rgb(166 169 176);
	margin: 50px 15px;
	border-radius: 10px;
	color: rgb(255 255 255 / 95%);
}

.select-box select {
	width: 100%;
	background: transparent;
	border: none;
	color: inherit;
	font-size: 15px;
	padding: 20px 0;
	margin-right: 20px;
	outline: none;
	font-family: inherit;
}

.select-box select option {
	background-color: rgb(166 169 176);
}

.select-box .icon {
	color: inherit;
	font-size: 20px;
	padding: 20px;
}

.start-record-btn {
	margin: 0 auto;
	width: 300px;
	text-align: center;
	background-color: rgb(255 255 255 / 80%);
	color: #2f2f2f;
	padding: 20px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 32px;
	cursor: pointer;
	transition: all 0.2s;
	position: relative;
}

.start-record-btn .record-icon {
	border: 10px solid #ff0000cf;
	border-radius: 50%;
	width: 12px;
	height: 12px;
	display: block;
	position: absolute;
	left: 35px;
	top: 50%;
	transform: translateY(-50%);
}

.start-record-btn:hover {
	background-color: white;
}

/*
* Cam Window
**************************/
#cam-video {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	object-fit: cover;
	-webkit-app-region: drag;
	box-sizing: border-box;
}

#cam-video.screen-camera-mode {
	border-radius: 100%;
	margin: 20px;
	border-width: 2px;
	width: calc(100% - 40px);
	height: calc(100vh - 40px);
}

#cam-video.ready {
	border: 5px solid whitesmoke;
}

#cam-video.screen-camera-mode.ready {
	box-shadow: 0 0 15px 1px black;
}

/*
* Recording Window
**************************/
.recording-window .controls {
	background: white;
	border-radius: 10px;
	display: flex;
	font-size: 25px;
	transition: all 0.2s;
	border: 1px solid gray;
	justify-content: space-evenly;
}

.recording-window .controls .control {
	cursor: pointer;
	padding: 10px 7px;
	margin: 0 3px;
}

.recording-window .controls .control#timeRecorded {
	width: 52px;
}

.recording-window .controls .control.disabled {
	cursor: not-allowed;
	opacity: 0.1;
}

.recording-window .controls .control:not(.disabled):not(.no-hover):hover {
	transform: scale(1.1);
}

.recording-window .controls .control#drag {
	white-space: nowrap;
	padding: 10px 5px;
	cursor: move;
	-webkit-app-region: drag;
}

.recording-window .controls .control#drag i:first-child {
	letter-spacing: -3px;
}

/*
* Canvas Window
**************************/
.canvas-window {
	height: 100vh;
}

.canvas-window .how-to-exit-message {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: -1;
	transform: translate(-50%, -50%);
	background: rgb(255 255 255 / 80%);
	padding: 30px;
	font-family: sans-serif;
}
